/* Berry variables */
$theme-color: #8d79a3;
$text-color: #533A71;
$text-color-secondary: rgba($text-color, 0.8);
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #6f056d;
$smoky-white: #FDF4DC;
$heart: #fb866a;
