/* styles-6 variables */
/* This is the main styling color theme IN USE */
$theme-color:#cbb96c;
$text-color: #533A71;
$background-color: #FDF4DC;
$text-color-secondary: #545E6C;
$text-grey: rgba($text-color, 0.8);
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #FDF4DC;
$heart: #fb866a;
